name: Java auto build with Gradle

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v3.13.0
        with:
          java-version: 8
          distribution: "adopt"
          java-package: jdk
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle, using shadowJar
        run: ./gradlew clean shadowJar --dry-run
      - name: Upload artifact
        uses: actions/upload-artifact@v3.1.3
        with:
          name: Compile BungeeSK
          path: build/libs/**